<%= form_with(model: @datasource, class: "mt-6", data: { controller: "modal", action: "turbo:submit-end->modal#submitEnd" }) do |form| %>
  <% if @datasource.errors.any? %>
    <div class="rounded-md bg-red-50 p-4 mb-6">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">
            <%= pluralize(@datasource.errors.count, "error") %> prohibited this datasource from being saved:
          </h3>
          <div class="mt-2 text-sm text-red-700">
            <ul class="list-disc pl-5 space-y-1">
              <% @datasource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="space-y-6">
    <div>
      <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= form.text_field :description, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
      </div>
    </div>

    <div>
      <%= form.label :type_source, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= form.select :type_source, ['postgres'], {}, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-2">
      <div>
        <%= form.label :host, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_field :host, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div>
        <%= form.label :port, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.number_field :port, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-2">
      <div>
        <%= form.label :user, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.text_field :user, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>

      <div>
        <%= form.label :password, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.password_field :password, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>
    </div>

    <div>
      <%= form.label :database, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= form.text_field :database, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end space-x-3">
    <%= link_to 'Cancel', datasources_path, class: "rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50", data: { turbo_frame: "_top" } %>
    <%= form.submit "Save", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>
