<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mind Text2sql" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= vite_asset_path 'images/brain-icon.svg' %>" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="apple-touch-icon" type="image/png" href="<%= vite_asset_path 'images/brain-icon.svg' %>" />
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body>
      <div id="flash">
        <%= render 'shared/flash' %>
      </div>
    <div class="min-h-screen flex flex-row bg-white">
      <%= render partial: "shared/sidebar" %>
      <div class="flex-1">
        <%= render 'shared/modal' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
